@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --breakpoint-sm: 520px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-playfair-display: var(--font-playfair-display);
  --font-lato: var(--font-lato);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke-width: 3;
  transition:
    stroke 600ms ease-out,
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
}

.line2 {
  stroke-dasharray: 60 60;
}

.line3 {
  stroke-dasharray: 60 207;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
